[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=autostart-x4notes
Comment=Uruchamianie xfce4-notes w cryptfs
Exec=/usr/local/bin/immudex-autostart-x4notes
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

